<configuration>
	<!-- Defines the format for log entries. -->
	<property name="logEntryFormat"
		value="%-12date{HH:mm:ss.SSS}  %-5level  %-60logger{60} -> %msg%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>${logEntryFormat}</pattern>
		</encoder>
	</appender>


	<logger name="com.ihg.selenium" level="INFO" />

    <!-- By default, HTMLUnit will complain about a LOT of CSS and JS rules. Set to
         WARN or disable to see these warnings. -->
    <logger name="com.gargoylesoftware.htmlunit"
            level="OFF" />

    <!-- Removes nag messages, in conjunction with Sysout-over-slf4j -->
    <logger name="org.w3c.tidy.Report"
            level="OFF" />

    <logger name="uk.org.lidalia.sysoutslf4j"
            level="WARN" />

    <logger name="org.apache.commons.httpclient"
            level="WARN" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Still need to add appender-ref nodes for TRACE, WARN and ERROR. Had trouble with this so far -->

</configuration>